* {
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i);
    }
  }
}
