.main-content{
  background-image: url('../images/trapcity.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;

}
.board{
  margin: 10vh;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1.5rem;
  background-image: url('../images/trapcity.jpg');
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  span{
    position: absolute;
    top: 38%;
    left: 41%;
  }
}

.box {
  width: 17%;
  height: 17%;
  margin: 3%;
  color: cyan;
  font-family: 'Russo One', sans-serif;
  position: relative;
  font-weight: bold;
  flex: 1 0 auto;
  border-radius: 8px;
  text-align: center;

}

.key{
  background-color: rgba(58, 234, 232, 0.5);;
  transition: all 0.5s;
}

.playing{
  box-shadow: 0 0 10px black;
  border: rgba(123, 231, 232, 0.5);
  background-color: rgba(243, 103, 103, 0.5);
  color: #faa3a3;
  transform: rotate(90deg);
}
